
*{
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* Header by Dan */
.container{
  width: 1300px;
  /*margin: 0 auto;*/
}

header{
  position: relative; /* for absolute children */
  height: 523px;
  background-image: url('http://unsplash.it/1300/523/');
}


.logo{
  width: 45px;
  height: 45px;
  position: relative;
  top: 19px;
  left: -9px;
}

header:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 96, 172, 0.6);
}

header h1{
  position: relative;
  text-align: center;
}


.main-nav{

  position: relative;
  text-decoration: none;
}

nav ul{
  display: inline-block;
}


nav li{
  display: inline-block;
}

nav a{
  text-decoration: none;
}



.brand{
  display: inline-block;
  padding-left: 150px;
  position: relative;
  top: -9px;
  font-size: 16px;
  font-family: 'Open Sans'
  font-weight: lighter;
  word-spacing: -1px;

}


.main-nav{
  display: inline-block;
  position: relative;
  right: 165.5px;
  top: -1px;
  float: right;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
}

.main-nav-about {
  position: relative;
  right: 17px;
  color: black;

}

.main-nav-search{
  position: relative;
  right: 6px;
  color: black;
}

.fa-search{
  position: relative;
  left: -3px;
  top: -4px;
  left: -3px;
  right: 5px;
  font-size: 16px;
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.fa-search:hover{
color: yellow;
transition: 3;
}


.company-name{
  vertical-align: middle;
  text-transform: uppercase;
}

h1{
font-family: 'Oswald', sans-serif;
}

.header-title{
  text-transform: uppercase;
  font-size: 101px;
  font-family: 'Myriad pro',sans-serif;
  font-weight: lighter;
  top: 86px;
  color: #FFFFFF;
  letter-spacing: -3px;
  text-shadow: 1px 1px 1px #000;
}

.header-subtitle{
  position: relative;
  top: 9px;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  word-spacing: 4px;
  color: #083451;

}
/* Dan's header ends here */

.main{
  position: relative;
  width: 1300px;


}
.content{
  display: inline-block;
  width: 695px;
  margin: 45px 85px 40px 165px;

}

.content-title-1{
  text-transform: uppercase;
  font-size: 62px;
  margin: 16px 0;
 position: relative;
 top: -11px;
 left: -2px;
  font-weight: lighter;
}
.content-title-2{
  text-transform: uppercase;
  font-size: 62px;
  margin: 16px 0;
  position:  relative;
  left: -2px;
  bottom: 46px;
  letter-spacing: .011em;
  font-weight: lighter;
}

.content-body{
  position: relative;
  top: -45px;
}
.author{
  display: inline;
  position: relative;
  left: -40px;
  bottom: 65px;
 font-size: 12px;
 font-weight: bolder;
}

.content-author-name{
  position: relative;
  top: 2px;
  left: 8px;
  color: #5C91A9;
}

.on-after-content-author{
  position: relative;
  top: 4px;
  left: 23px;
  color: #BDB8A8;
}

.content-date {
  position: relative;
  top: 4px;
  left: 23px;
  font-size: 13px;
  text-decoration: underline;
  color: #BDB8A8;
}


.content-author-pic{
  height: 22px;
  width: 22px;
  border-radius: 100%;
  vertical-align: middle;
  position: relative;
  left: 2px;
  bottom: 2px;
}
.author-caption *{
  display: inline-block;


}

.content-body-text1{
   padding-right: 90px;
   line-height: 26px;
   position: relative;
   top: -3px;
 }

 .content-body-text2{
    padding-right: 90px;
    line-height: 26px;
    position: relative;
    top: -8px;
  }

.chick-mixtape {
  font-weight: bold;
  color: #A6B5C1;
}

.content-body-quote{
  text-transform: uppercase;
  font-size: 28px;
  height: 52px;
  position: relative;

  left:4px;
  color: #106DB3;
  letter-spacing: -.5px;
  width: 500px;
  font-size: 28px;
  font-weight: 400;
  font-family: "open sans";
  word-spacing: -2px;
  border-left: 2px solid #ccc;
  padding-left: 17px;
}

.content-buttons{
  position: relative;
  height: 30px;
  left: -29px;
  top:-5px;
}

.content-buttons li{
  position: relative;
  display: inline-block;
  height: 30px;
  padding-left: 9px;
  padding-right: 4px;
  list-style: none;
  /*border-left: 35px solid transparent;*/
  background-color: #176891;
  text-align: center;
  margin-right: 16px;
}

.content-buttons li a {
  text-decoration: none;
  position: relative;
  top: 2px;
  font-weight: bold;
  color: white;
  font-family: sans-serif;
  font-size: 13px;
  left:-5px;
}
.content-buttons li a:hover {
  color: white;
}

.content-buttons li:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #AFAC9E;
}



.content-buttons li:hover:before{
  display: none;
}

.content-buttons li .fa{
  display: inline-block;
  position: relative;
  color: white;
  background-color: #686359;
  padding: 8px;
  float: left;
  height: 30px;
  right: 20px;
}
.button2{
  width: 118px;
}

.button3{
  left: 1px;
}

/*this was not needed. added border above.
.content-body-quote:before{
  content:"";
  top: 0;
  bottom: 0;
  width: 2px;
  height: 55px;
  background-color: #E9DECD;
  position: absolute;
  left: -16px;
  top: -13px;
}
*/

/*old content button styling

.content-buttons{
  display: inline-block;
  position: relative;
  bottom: 50px;
  height: 30px;
  }

  .content-buttons * {
    text-decoration: none;
    display: inline-block;
    background-color: #AFAC9E;
    color: white;
    vertical-align: middle;
    font-size: 13px;
  }

  .content-buttons * a{
    background-color: transparent;
    position: relative;
    left: 10px;
    top: 2px;
    font-weight: bold;
  }



  .content-buttons *.fa {
    width: 30px;
    padding-left: 10px;
    padding-top: 7px;
    font-size: 16px;
    position: relative;
    background: transparent;
  }

.read-comments-button .read-later-button .share-post-button{
  display: inline-block;
  vertical-align: top;
}

.read-comments-button{
  width: 158px;
  height: 30px;
}


.read-comment-icon-box{
  height: 30px;
  width: 33px;
  background-color: #686359;
  position: absolute;
}

.read-later-button{
  width: 128px;
  height: 30px;
  position: relative;
  left: 6px;
}
.read-later-icon-box{
  height: 30px;
  width: 33px;
  background-color: #686359;
  position: absolute;
}

.share-post-button{
  width: 154px;
  height: 30px;
  position: relative;
  left: 12px;
}

.share-post-icon-box{
    height: 30px;
    width: 33px;
    background-color: #686359;
    position: absolute;
  }

end of old content buttons*/

/*old content buttons2
.content-buttons{
  position: relative;
  top: -35px;
}


.content-buttons * {
  display: inline-block;
  position: relative;
  height: 30px;
  padding: 1px;
  vertical-align: middle;
}

.content-buttons * a{
  color: white;
  font-size: 13px;
  padding-right: 12px;
  padding-top: 5px;
}


.read-comments{
  display: inline-block;
  background-color: #99AAB7;
  width: 158px;
  text-align: right;
  position: relative;
  left: 1px;
}
.read-comments:hover {
  display: inline-block;
  background-color: #1062AA;
}

.read-comments:before{
  content: "";
  width: 33px;
  height: 29px;
  background-color: #535D64;
  position: absolute;
  left: 0;

}

.read-later{
  display: inline-block;
  background-color: #99AAB7;
  width: 128px;
  position: relative;
  left: -25px;
  text-align: right;
  top: 1px;
}

.read-later:hover {
  display: inline-block;
  background-color: #1062AA;
}

.read-later:before{
  content: "";
  width: 33px;
  height: 30px;
  background-color: #535D64;
  position: absolute;
  left: 0;
  top: -1px;

}
.share-post{
  display: inline-block;
  background-color: #99AAB7;
  width: 154px;
  position: relative;
  left: -56px;
  text-align: right;
}

.share-post:hover {
  display: inline-block;
  background-color: #1062AA;
}

.share-post:before{
  content: "";
  width: 33px;
  height: 30px;
  background-color: #535D64;
  position: absolute;
  left: 0;
  top: -1px;
}

.fa-share-square-o, .fa-cloud-upload, .fa-comment{
  color: white;
  width: 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding-top: 5px;
}

.fa-share-square-o{
  position: relatieve;
  right: 205px;
  top: 1px;
  right: 2px;
}
.fa-cloud-upload {
  position: relative;
  right: 155px;
  top: 1px;
  right:1px;
}
.fa-comment{
  position: relative;
  right: 160px;
}
end of 0ld content buttons*/

/*ASIDE HERE*/

.aside{
  display: inline-block;
  width: 280px;
  vertical-align: top;
  position: relative;;
  right: 158px;
  top: 84px;
  float: right;
}

.ad a {
  display:inline-block;
  text-decoration: none;
  text-align: right;
}
.author-box{
display: inline;
}
.author-pic-box{
  width: 84px;
  margin: 0 auto;
}
.aside-author-pic{
  height: 84px;
  width: 84px;
  border-radius: 100%;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: -1px;
  -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
     -ms-transition: all 1s ease;
         transition: all 1s ease;
}
.aside-author-pic:hover{
  -webkit-filter: blur(5px);
}
.box-author-name{
  text-transform: uppercase;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 4px;
  color: #176891;
}
.box-author-social{
  position: relative;
  font-size: 13px;
  bottom:  9px;
}
.box-author-social a{
  text-decoration: none;
}
.twitter, .facbook, .instagram{
  display: inline;
  list-style: none;
  position: relative;
  color: #AFAC9E;
  font-weight: bold;
}

.twitter{

  left: 3px;
}

.facbook{

  left: 18px;
}

.instagram{
  left: 35px;
}

.ad{
  position: relative;
  display: inline-block;
  top: 31px;
}

.ad-image, .ad-link{
  display: inline-block;
}
.ad-link {
  float: right;
  font-size: 13px;
  color: #C7C0AF;
  text-decoration: underline;
}

.sidebar{
  display: inline-block;
  position: relative;
  top: 78px;
}

.sidebar-heading{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: #106DB3;
}

.sidebar-text{
  width: 278px;
  display: inline-block;
  position: relative;
bottom: 12px;
line-height: 1.8;
  font-size: 14px;
  color: #B4B0A1;
}

.post-title{
  font-size: 60px;

  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  letter-spacing: .03em;
  position: relative;
  bottom: 16px;
}
.posts{
  display: inline-block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  position: relative;
  bottom: 37px;
  border-top: 1px solid #CBC6B4;


}



.post-items{
  display: -webkit-flex;
  display: flex;
  position: relative;
  bottom: 25px;


}


.post-items:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(19,	82,	136,	 0.6);

  }
  .post-item-1:hover .item1-link{
    color: white;
  }
  .post-item-2:hover .item2-link{
    color: white;
  }
  .post-item-3:hover .item3-link{
    color: white;
  }
  .post-item-4:hover .item4-link{
    color: white;
  }
  .post-item-1 {
    -webkit-flex: initial;
    flex: initial;
    width: 325px;
    min-width: 100px;
    position: relative;
  }
  .post-item-1 img {
  	-webkit-filter: opacity(.4);
  	filter: opacity(.4);(.4);
  	-webkit-transition: .3s ease-in-out;
  	transition: .3s ease-in-out;
  }
  .post-item-1:hover img {
  	-webkit-filter: opacity(1);
  	filter: opacity(1);

  }
  .item1-link{
    text-decoration: none;
    color: black;
      font-size: 30px;
      position: absolute;
      top: 278px;
      left: 14px;
      text-transform: uppercase;
      font-family: 'Oswald', sans-serif;
      width: 250px;

    }

.post-item-2 {
  -webkit-flex: none;
  flex: none;
  width: 325px;
  position: relative;
}
.post-item-2 img {
	-webkit-filter: opacity(.4);
	filter: opacity(.4);(.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.post-item-2:hover img {
	-webkit-filter: opacity(1);
	filter: opacity(1);
}
.item2-link{
  text-decoration: none;
  color: black;
    font-size: 30px;
    position: absolute;
    top: 278px;
    left: 15px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    width: 250px;
  }

.post-item-3 {
  -webkit-flex: none;
  flex: none;
  width: 325px;
  position: relative;
}
.post-item-3 img {
	-webkit-filter: opacity(.4);
	filter: opacity(.4);(.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.post-item-3:hover img {
	-webkit-filter: opacity(1);
	filter: opacity(1);
}
.item3-link{
  text-decoration: none;
  color: black;
    font-size: 30px;
    position: absolute;
    top: 245px;
    left: 18px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    width: 250px;
    line-height: 1.2;
  }

.post-item-4 {
  -webkit-flex: none;
  flex: none;
  width: 325px;
  position: relative;

}

.post-item-4 img {
	-webkit-filter: opacity(.4);
	filter: opacity(.4);(.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.post-item-4:hover img {
	-webkit-filter: opacity(1);
	filter: opacity(1);
}
.item4-link{
    text-decoration: none;
    color: black;
    font-size: 30px;
    position: absolute;
    top: 278px;
    left: 21px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
  }

/*footer bellow*/

.footer{
  display: inline-block;
  margin: 0 auto;
  width: 1300px;
  height: 100px;
  background-color: #092E48;
  position: relative;
  bottom: 68px;
}

.footer-elements{
  display: inline-block;

}
.ironyard-brand{
  display: inline-block;
  position: relative;
  left: 150px;
  bottom: 12px;
  font-size: 13px;
  color: #99AAB7;
  letter-spacing: .09px;;
}

.ironyard-brand *{
  display: inline-block;
  vertical-align: bottom;
}
.ironyard-icon{
  height: 70px;
  position: relative;
  top: 22px;
  left: 3px;

}
.ironyard-icon {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.ironyard-icon:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}
.bottom-nav{
  display: inline-block;
  position: relative;
 bottom: 24px;
  right: 376px;
}

.nav-items-1, .nav-items-2, .nav-items-3, .nav-items-4, .nav-items-5{
  display: inline;
  position: relative;
  left: 818px;
  top: 10px;
  text-decoration: none;;

  color: #99AAB7;
  font-size: 13px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}


.nav-items a{

  text-decoration:

}
.nav-items a:hover{

  color: yellow;

}

.nav-items-1{
  margin-right: 11px;
}

.nav-items-1:before{
  content: "";
  position: relative;
  top: 0;
  bottom: 0;
  left: 75px;
  height: 13px;
  border-right: 1px solid #535D64;
}

.nav-items-2{
  margin-right: 11px;
}

.nav-items-2:before{
  content: "";
  position: relative;
  top: 0;
  bottom: 0;
  left: 75px;
  height: 13px;
  border-right: 1px solid #535D64;
}

.nav-items-3{
  margin-right: 13px;
}

.nav-items-3:before{
  content: "";
  position: relative;
  top: 0;
  bottom: 0;
  left: 75px;
  height: 13px;
  border-right: 1px solid #535D64;
}

a:hover {
    color: yellow;
}
