
*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* Header by Dan */
.container{
  width: 1300px;
  /*margin: 0 auto;*/
}

header{
  position: relative; /* for absolute children */
  height: 523px;
  background-image: url('http://unsplash.it/1300/523/');
}

.logo{
  width: 45px;
  height: 45px;
  position: relative;
  top: 19px;
  left: -9px;
}

header:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 96, 172, 0.6);
}

header h1{
  position: relative;
  text-align: center;
}

nav{

  position: relative;
  text-decoration: none;
}

nav ul{
  display: inline-block;
}


nav li{
  display: inline-block;
}

nav a{
  text-decoration: none;
}

.brand{
  display: inline-block;
  padding-left: 150px;
  position: relative;
  top: -9px;
  font-size: 17px;
  font-family: 'Myriad pro', sans-serif;
  font-weight: lighter;
  font-stretch: condensed;
  letter-spacing: -1px;

}

.main-nav{
  display: inline-block;
  position: relative;
  right: 165.5px;
  top: -1px;
  float: right;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
}

.main-nav-about {
  position: relative;
  right: 17px;
  color: black;

}

.main-nav-search{
  position: relative;
  right: 6px;
  color: black;
}

.fa-search{
  position: relative;
  left: -3px;
  top: -4px;
  left: -3px;
  right: 5px;
  font-size: 16px;
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.company-name{
  vertical-align: middle;
  text-transform: uppercase;
}

h1{
font-family: 'Oswald', sans-serif;
}

.header-title{
  text-transform: uppercase;
  font-size: 101px;
  font-family: 'Myriad pro',sans-serif;
  font-weight: lighter;
  top: 86px;
  color: #FFFFFF;
  letter-spacing: -3px;
}

.header-subtitle{
  position: relative;
  top: 9px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;

}
/* Dan's header ends here */

.main{
  position: relative;
  width: 1300px;


}
.content{
  display: inline-block;
  width: 695px;
  margin: 45px 85px 40px 165px;
}

.content-title-1{
  text-transform: uppercase;
  font-size: 62px;
  margin: 16px 0;
 position: relative;
 top: -11px;
 left: -2px;
  font-weight: lighter;
}
.content-title-2{
  text-transform: uppercase;
  font-size: 62px;
  margin: 16px 0;
  position:  relative;
  left: -2px;
  bottom: 46px;
  letter-spacing: .011em;
  font-weight: lighter;
}

.content-body{
  position: relative;
  top: -45px;
}
.author{
  display: inline;
  position: relative;
  left: -40px;
  bottom: 65px;
 font-size: 12px;
 font-weight: bolder;
}

.content-author-name{
  position: relative;
  top: 2px;
  left: 8px;
  color: #5C91A9;
}

.on-after-content-author{
  position: relative;
  top: 4px;
  left: 23px;
  color: #BDB8A8;
}

.content-date {
  position: relative;
  top: 4px;
  left: 23px;
  font-size: 13px;
  text-decoration: underline;
  color: #BDB8A8;
}


.content-author-pic{
  height: 22px;
  width: 22px;
  border-radius: 100%;
  vertical-align: middle;
  position: relative;
  left: 2px;
}
.author-caption *{
  display: inline-block;


}
.content-buttons *{
  text-decoration: none;
}


.content-body-text1{
   padding-right: 90px;
   line-height: 1.6;
   position: relative;
 }

 .content-body-text2{
    padding-right: 90px;
    line-height: 1.6;
    position: relative;
  }

.chick-mixtape {
  font-weight: bold;
  color: #A6B5C1;
}

.content-body-quote{
  text-transform: uppercase;
  font-size: 28px;
  height: 52px;
  position: relative;
  top: 9px;
  left:20px;
  color: #377698;
  letter-spacing: -.5px;
}
.content-body-quote:before{
  content:"";
  top: 0;
  bottom: 0;
  width: 2px;
  height: 55px;
  background-color: #E9DECD;
  position: absolute;
  left: -16px;
  top: -13px;
}
/*old content buttons

.content-buttons{
  position: relative;
  top: -35px;
}


.content-buttons * {
  display: inline-block;
  position: relative;
  height: 30px;
  padding: 1px;
  vertical-align: middle;
}

.content-buttons * a{
  color: white;
  font-size: 13px;
  padding-right: 12px;
  padding-top: 5px;
}


.read-comments{
  display: inline-block;
  background-color: #99AAB7;
  width: 158px;
  text-align: right;
  position: relative;
  left: 1px;
}
.read-comments:hover {
  display: inline-block;
  background-color: #1062AA;
}

.read-comments:before{
  content: "";
  width: 33px;
  height: 29px;
  background-color: #535D64;
  position: absolute;
  left: 0;

}

.read-later{
  display: inline-block;
  background-color: #99AAB7;
  width: 128px;
  position: relative;
  left: -25px;
  text-align: right;
  top: 1px;
}

.read-later:hover {
  display: inline-block;
  background-color: #1062AA;
}

.read-later:before{
  content: "";
  width: 33px;
  height: 30px;
  background-color: #535D64;
  position: absolute;
  left: 0;
  top: -1px;

}
.share-post{
  display: inline-block;
  background-color: #99AAB7;
  width: 154px;
  position: relative;
  left: -56px;
  text-align: right;
}

.share-post:hover {
  display: inline-block;
  background-color: #1062AA;
}

.share-post:before{
  content: "";
  width: 33px;
  height: 30px;
  background-color: #535D64;
  position: absolute;
  left: 0;
  top: -1px;
}

.fa-share-square-o, .fa-cloud-upload, .fa-comment{
  color: white;
  width: 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  padding-top: 5px;
}

.fa-share-square-o{
  position: relatieve;
  right: 205px;
  top: 1px;
  right: 2px;
}
.fa-cloud-upload {
  position: relative;
  right: 155px;
  top: 1px;
  right:1px;
}
.fa-comment{
  position: relative;
  right: 160px;
}
end of 0ld content buttons*/

/*ASIDE HERE*/

.aside{
  display: inline-block;
  width: 280px;
  vertical-align: top;
  position: relative;
  right: 88px;
  top: 45px;

}

.ad a {
  display: inherit;
  text-decoration: none;
  text-align: right;
}
.author-box{

}
.author-pic-box{
  width: 84px;
  margin: 0 auto;
}
.aside-author-pic{
  height: 84px;
  width: 84px;
  border-radius: 100%;
  display: inline-block;
  margin: 0 auto;
}
.box-author-name{
  text-transform: uppercase;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.box-author-social{
  position: relative;
}
.social-item{
  display: inline;
  list-style: none;
  position: relative;
  left: -10px;
}

.sidebar-heading{
  text-transform: uppercase;
}

.sidebar-text{
  width: 278px;
}
.sidebar-text{
  display: inline-block;
  font-size: 13px;
}

.post-title{
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.posts{
  display: inline-block;
  clear: both;
  margin: 0 auto;
  width: 100%;
}
.post-items {

}
.post-items *{
  display: inline-block;
  margin: 0 auto;
  width: 24%;

}

.post-item-1{
  position: relative;; /* for absolute children */
  height: 330px;
  background-image: url('https://unsplash.it/326/330');
}
.post-item-2{
  position: relative;; /* for absolute children */
  height: 330px;
  background-image: url('https://unsplash.it/326/330');
}
.post-item-3{
  position: relative;; /* for absolute children */
  height: 330px;
  background-image: url('https://unsplash.it/326/330');
}
.post-item-4{
  position: relative;; /* for absolute children */
  height: 330px;
  background-image: url('https://unsplash.it/326/330');
}
.footer{
  display: inline-block;
  margin: 0 auto;
  width: 1300px;
  height: 95px;
  background-color: #092E48;
}

.footer-elements{
  display: inline;
  position: relative;
  top: 100px;
}
.ironyard-brand{
  display: inline-block;
  width: 50%;
}
.ironyard-brand *{
  display: inline-block;
  vertical-align: bottom;
}
.bottom-nav{
  float: right;
  position: relative;
  margin: 0 auto;
  float: right;


}
.nav-items{
  display: inline-block;
  float: right;
  text-decoration: none;
  margin: 0 10px 0 0;
}
