*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
/* Header by Dan */
.container{
  width: 1300px;
  /*margin: 0 auto;*/
}

header{
  position: relative; /* for absolute children */
  height: 523px;
  background-image: url('http://unsplash.it/1300/523/');
}

.logo{
  width: 45px;
  height: 45px;
  position: relative;
  top: 19px;
  left: -8px;
}

header:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 96, 172, 0.6);
}

header h1, header h3{
  position: relative;
  text-align: center;
}

nav{

  position: relative;
  text-decoration: none;
}

nav ul{
  display: inline-block;
}


nav li{
  display: inline-block;
}

nav a{
  text-decoration: none;
}

.brand{
  display: inline-block;
  padding-left: 150px;
  position: relative;
  top: -9px;
  font-size: 17px;
  font-family: 'Myriad pro', sans-serif;
  font-weight: lighter;
  font-stretch: condensed;
  letter-spacing: -1px;

}

.main-nav{
  display: inline-block;
  position: relative;
  right: 165px;
  float: right;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
}

.main-nav-about {
  position: relative;
  right: 23px;
  color: black;

}

.main-nav-search{
  position: relative;
  right: 9px;
  color: black;
}

.fa-search{
  position: relative;
  font-size: 16px;

  right: 5px;
  top: -2px;
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.company-name{
  vertical-align: middle;
  text-transform: uppercase;
}

h1{
font-family: 'Oswald', sans-serif;
}

.header-title{
  text-transform: uppercase;
  font-size: 101px;
  font-family: 'Myriad pro',sans-serif;
  font-weight: lighter;
  top: 86px;
  color: #FFFFFF;


}
/* Dan's header ends here */

.main{
  position: relative;
  width: 1300px;


}
.content{
  display: inline-block;
  width: 695px;
  margin: 45px 85px 40px 165px;
}

.content-title{
  text-transform: uppercase;
  font-size: 60px;
  margin: 16px 0;
  line-height: 120%;
}
.author{
  display: inline;
  position: relative;
  left: -40px;
  top: -10px;
 font-size: 12px;
 font-weight: bolder;
}

.content-author-name{
  position: relative;
  top: 2px;
  left: 5px;
  color: #5C91A9;
}

.on-after-content-author{
  position: relative;
  top: 3px;
  left: 20px;
  color: #BDB8A8;
}

.content-date {
  position: relative;
  top: 3px;
  left: 21px;
  font-size: 13px;
  text-decoration: underline;
  color: #BDB8A8;
}


.content-author-pic{
  height: 24px;
  width: 24px;
  border-radius: 100%;
  vertical-align: middle;
}
.author-caption *{
  display: inline-block;


}
.content-buttons *{
  text-decoration: none;
}

.aside{
  display: inline-block;
  width: 280px;
  vertical-align: top;
  position: relative;
  right: 88px;
  top: 45px;

}

.ad a {
  text-decoration: none;
}
.author-box{
  display: inline-block;
}
.box-author-social{
  position: relative;
}
.social-item{
  display: inline;
  list-style: none;
  position: relative;
  left: -10px;
}
.posts{
  display: inline-block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  border: 3px solid yellow;
}
.post-items {

}
.post-items *{
  display: inline-block;
  margin: 0 auto;
  width: 24%;

}
.footer{
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  height: 200px;
  border: 3px green solid;
}

.footer-elements{
  display: inline;
  position: relative;
  top: 100px;
}
.ironyard-brand{
  display: inline-block;
  width: 50%;
}
.ironyard-brand *{
  display: inline-block;
  vertical-align: bottom;
}
.bottom-nav{
  float: right;
  position: relative;
  margin: 0 auto;
  float: right;


}
.nav-items{
  display: inline-block;
  float: right;
  text-decoration: none;
  margin: 0 10px 0 0;
}
